target/
bin/
*.orig
*~

# Eclipse project files
.settings/
.project
.classpath
.springBeans

# Intellij IDEA
*.iml

# Netbeans project files
nb-configuration.xml
nbactions.xml

#local.properties
#.gitignore  Do *not* ignore
/http---localhost-8080-soap-ContractService-soapui-project.xml
/ContractService---PaymentMethod-soapui-project.xml
